body > footer {
	position: absolute;
	bottom: 0em;
	height: 2em;
}
body > main {
	padding-bottom: 2em;
}
body > footer > p {
	margin-top: 0em;
}
body > nav li a {
    white-space: nowrap;
}
@media screen and (min-width: 52em) {
	body > footer {
		height: 2em;
	}
    body > main {
        padding-bottom: 2em;
    }
    body > footer > p {
        margin-top: 0.5em;
    }
    body > nav > ul ul ul {
        left: 100%;
        margin-top: -1.95em;
    }
}